.cards__pdeudo-item_button_like {
    display: flex;
    height: 19px;
    width: 22px;
    background-image: url(../../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
}

.cards__pdeudo-item_button_like:hover {
    opacity: 0.6;
    cursor: pointer;
}

.like_active {
    background-image: url(../../../../images/like-button_active.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}
