.popup__input {
    display: block;
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: none;
    background: none;
    margin: 0 0 30px;
    padding: 0;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 358px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 630px) {
    .popup__input {
        max-width: 238px;
    }
}

::placeholder {
    color: rgba(196, 196, 196, 1);
}