.profile {
    max-width: 1280px;
    justify-content: space-between;
    margin: 40px auto 51px;
    padding: 0 200px;
    display: grid;
    grid-template-columns: 168.75px minmax(330px, 1fr) 150px;
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
  }

  @media screen and (max-width: 1060px) {
    .profile {
      margin: 40px auto 51px;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }