.popup__pdeudo-item_btn_submit {
    display: flex;
    width: 358px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    margin-top: 48px;
    justify-content: center;
    align-items: center;
    transition: opacity, .4s;
}

.popup__pdeudo-item_btn_submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 630px) {
    .popup__pdeudo-item_btn_submit {
        width: 238px;
        height: 46px;
    }
}