.profile__description {
    color: #FFFFFF;
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 17.5px 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    display: flex;
}

@media screen and (max-width: 1080px) {
    .profile__description{
      margin: 18px 0 34px;
      font-size: 14px;
      line-height: 17px;
    }
  }