.cards__info {
    background-color: #ffffff;
    padding: 0 30px 0 21px;
    margin: 0;
    max-width: 282px;
    max-height: 361px;
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }