.popup__close-btn {
    position: absolute;
    right: -40px;
    top: -40px;
    height: 32px;
    width: 32px;
    background-image: url(../../../images/Button-close.svg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
    box-sizing: border-box;
}

.popup__close-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 630px) {
    .popup__close-btn {
        background-image: url(../../../images/Close\ Icon\ small.svg);
        height: 20px;
        width: 20px;
        right: 0;
        top: -36px;
    }
}
