.cards__like-button {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.cards__pdeudo-item_button_plus {
    display: flex;
    height: 19px;
    width: 22px;
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    background-position: center;
}