.profile__pseudo-item_button_plus {
    display: flex;
    height: 50px;
    width: 150px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../../images/plus-button.svg);

    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s;
    box-sizing: border-box;
}

.profile__pseudo-item_button_plus:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .profile__pseudo-item_button_plus {
        height: 50px;
        width: 282px;
        background-size: 16px 16px;
  }
}