.popup__text {
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: none;
    background: none;
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__text:focus {
    outline: none;
    box-shadow: none;
}


::placeholder {
    color: #000000;
    opacity: 1;
}
